/* header */

.header-logo img {
    width: 40%;
    padding-bottom: 15px;
    padding-top: 15px;
}

.container-fluid{
    text-align: center;
}

.collapse{
    display: flex;
    justify-content: space-around;
}

.nav-item a:hover{
    color: #ff7b00;
    transition: all 0.5s;
}

.dropdown{
    color: white;
    font-size: 16px;
    border: none;
}
.dropdown-toggle{
    color: white;
    font-size: 16px;
    border: none;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-menu li a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-menu li a:hover{
    background-color: #ddd;
}
.dropdown:hover .dropdown-menu{
    display: block;
}

.main-content {
    padding: 20px;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    background-color: #f8f9fa;
    transition: left 0.3s;
    z-index: 1000; 
  }
  .sidebar.show {
    left: 0; 
  }

/* home page */

.homepage{
    background-image: url(../img/background.jpg);
    height: 100vh;
}
.data{
    margin: 25% 0 0 10%;
}
.data p span{
  color: rgb(148, 8, 8) !important;
  font-weight: 600;
  padding: 1rem 0;
}

.data a{
    font-weight: 600 !important;
}

.data h2 span{
  font-weight: 800;
  color: #ff7b00;
}

.home-name{
    font-size: 50px;
    font-weight: 900
}
.home-about{
    font-weight: 500;
    font-size: 20px;
}
.home-img{
    margin: 15% 0 0 0;
    text-align: center;
}
.home-img img{
    width: 65%;
    aspect-ratio: 3/3;
    object-fit: contain;
    border-radius: 100%;
    box-shadow: 15px 15px 20px -4px  #a29898;
}
.icons i{
    font-size: 20px;
    margin-top: 20px;
    padding-right: 10px;
    transition: all 0.5s;
}
.icons i:hover{
    color: #ff7b00;
}

/* About page */

.Aboutpage{
    background-image: url(../img/background.jpg);
    height: 100vh;
}

.about-title{
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
}

.about-row-table{
    padding: 0 0 5% 0;
}

.about-col-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-img img{
    width: 58%;
    aspect-ratio: 3/3;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: 15px 15px 20px -4px  #a29898
}

.about-table{
    border: 3px double;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.073);
    background-image: url(../img/aboutimputbg.jpg);
    box-shadow: 15px 15px 20px -4px  #a29898;
}

.about-data{
    padding: 10px;
}

.about-head h3{
    font-weight: 700;
}

.about-head p{
    font-weight: 500;
}

.about-body p {
    font-weight: 350;
    font-size: 15px;
    word-break: break-all;
}

.about-ep{
    font-weight: 500;
}


/* Project */

.Projectpage{
    background-color: rgb(255, 255, 255);
    height: 100%;
}


.project-card {
    border-radius: 15px;
    overflow: hidden;
    height: 400px;
    margin: 16px;
    width: 18rem;
    box-shadow: 15px 15px 20px -4px  #bdbdbd
}

.project-card:hover{
    border: 1px solid;
}

.projectimg {
    overflow: hidden;
    height: 200px;
}

.projectimg img {
    height: 100%;
    width: 100%;
    transition: transform 0.5s;
}

.projectimg:hover img {
    transform: scale(1.1);
}

.project-item-icon-box {
    --scale: 0.8;
  
    background: var(--jet);
    color: var(--orange-yellow-crayola);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
    font-size: 20px;
    padding: 18px;
    border-radius: 12px;
    opacity: 0;
    z-index: 1;
    transition: var(--transition-1);
  }
  
  .project-item > a:hover .project-item-icon-box {
    --scale: 1;
    opacity: 1;
  }
  
  .project-item-icon-box ion-icon { --ionicon-stroke-width: 50px; }
  


/* Contact page */

.Contactpage{
    background-color: rgb(224, 224, 255);
    height: 100%;
}

.content-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: darkslategray;
}

.content-title span{
    color: #7303a7;
}

.content-table{
    border: 0px solid;
    border-radius: 15px;
    background: #ffffff;
}

.content-input{
    margin: 0 15px 2% 0;
    font-size: 18px;

}

.content-input input{
    width: 90%;
}

.content-input textarea{
    width: 90%;
}

.content-img{
    text-align: center;
    border-right: 5px double gray;
}

.content-img img{
    width: 75%;
    aspect-ratio: 3/3;
    object-fit: contain;
    border-radius: 10%;
}

.content-input input{
    background: #f3f3f3;
    border: none;
}

.content-input textarea{
    background: #f3f3f3;
    border: none;
}
.content-data{
   padding: 48px; 
}